@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Open+Sans:600,300,400);
@import url(https://fonts.googleapis.com/css?family=Dosis);
.concert, .slider, .upcoming, .history, .contact {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
  width: 100%;
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  font-size: 100%;
}

hr {
  border-top: 1px solid #000;
}

ul {
  list-style: none;
}

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
}
.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}
[dir="rtl"] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

.hell-button {
  background-image: url("../img/play_hell.jpg");
  color: #fff;
}

.night-button,
.smoke-button {
  color: #000;
}

.night-button {
  background-image: url("../img/play_night.jpg");
}

.smoke-button {
  background-image: url("../img/play_smoke.png");
}

.discography__buttons {
  background-position: center;
  background-repeat: no-repeat;
  border: 0;
  display: block;
  height: 3.3125rem;
  margin: 1.875rem 0 4.375rem;
  overflow: hidden;
  width: 12.125rem;
}

.button {
  border-radius: 0;
  border: 1px solid #999;
  padding: 0.9375rem 0;
  width: 10%;
  min-width: 200px;
  background: transparent;
}

@media screen and (max-width: 767px) {
  .button {
    display: block;
    margin: 0 auto;
    text-align: center;
    width: 50%;
  }
}
h1 {
  padding-top: 10rem;
  text-align: center;
}

.concert hr,
.latter hr, .new hr, .upcoming hr {
  margin: 0;
}

.concert hr,
.latter hr {
  width: 60%;
}

.new hr {
  width: 90%;
}

.upcoming hr {
  width: 23%;
  margin-bottom: 10px;
}

.discography hr {
  margin: 0;
}

.history__slider hr {
  display: inline-block;
  margin-bottom: 10px;
  width: 15%;
}

.latter__indian-album {
  background-image: url("../img/indian_album.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 0;
  padding-bottom: 70%;
  width: 100%;
}

.latter__indian-album-r {
  background-image: url("../img/indian_album_r.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 0;
  padding-bottom: 70%;
  width: 100%;
}

.latter__chill-album {
  background-image: url("../img/chill_album.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
  padding-bottom: 70%;
  width: 100%;
}

.latter__item > [class*="col-"] {
  margin-bottom: -99999px;
  padding-bottom: 99999px;
}

.latter__photo {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}

.row {
  overflow: hidden;
}

.latter__text {
  padding: 0.9375rem;
  background-color: #f5f6f6;
}

.latter__item {
  margin-bottom: 20px;
}

.latter__compositions {
  padding-bottom: 5%;
}

.new {
  display: block;
  margin: 0 auto;
}

.new__list {
  margin-top: 12%;
}

.new__list li {
  margin-bottom: 1.875rem;
}

.new-img {
  padding: 1.25rem;
}
.new-img .album-title {
  padding-bottom: 1.25rem;
}
.new-img h4 {
  padding-bottom: 1.25rem;
}

.new_01, .new_02, .new_03, .new_04, .new_05, .new_06 {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right bottom;
  width: 100%;
  height: 0;
  max-width: 100%;
  min-height: 320px;
  margin: 0 auto;
  padding-bottom: 90%;
}

.new_01 {
  background-image: url("../img/new_01.jpg");
}

.new_02 {
  background-image: url("../img/new_02.jpg");
}

.new_03 {
  background-image: url("../img/new_03.jpg");
}

.new_04 {
  background-image: url("../img/new_04.jpg");
}

.new_05 {
  background-image: url("../img/new_05.jpg");
}

.new_06 {
  background-image: url("../img/new_06.jpg");
}

.vertical-line-short, .vertical-line-long {
  background-color: #000;
  display: block;
  margin-left: 2.1875rem;
  width: 1px;
}

.vertical-line-short {
  height: 3.125rem;
}

.vertical-line-long {
  height: 10.3125rem;
}

input {
  display: block;
  border: 0;
  width: 100%;
  outline: 0;
  background-color: transparent;
  border-radius: 0;
}

.contact__form p {
  padding-bottom: 2.1875rem;
  border: 0;
}

.submit {
  font-weight: 600;
}

.name input, .email input, .message input {
  border-bottom: 1px solid #000;
}

.discography__heading,
.concert__heading,
.latter__heading,
.history__heading {
  padding-top: 5%;
  padding-bottom: 5%;
  text-align: center;
  position: relative;
}

.discography {
  background: url("../img/discography_background.jpg") center bottom no-repeat;
  background-size: 100% auto;
  padding-bottom: 15%;
}

.concert {
  background-image: url("../img/concert_background.jpg");
  padding-bottom: 10%;
}

.concert__list {
  padding-top: 20%;
}

.concert__list__description {
  padding-bottom: 2.1875rem;
}

.latter__stats {
  padding-top: 0.9375rem;
  padding-bottom: 1.25rem;
}

.slider {
  background-image: url("../img/slider.jpg");
}

.upcoming {
  background-image: url("../img/upcoming_background.jpg");
  padding-top: 10%;
  padding-bottom: 20%;
}

.history {
  background-image: url("../img/history_background.jpg");
  padding-bottom: 40%;
}

h2,
h6 {
  text-transform: uppercase;
}

h2 {
  font-size: 50px;
  font-size: 3.125rem;
  display: inline-block;
  position: relative;
  font-family: "Dosis", sans-serif;
  margin-bottom: 3.4375rem;
  padding: 0 15px;
  white-space: nowrap;
  color: #5a5b59;
}

h2::before {
  content: '';
  position: absolute;
  width: 100%;
  top: 50%;
  left: 0;
  right: 0;
  height: 1px;
  background: #5a5b59;
}

.discography h2 {
  color: #9c7051;
  text-fill-color: #9c7051;
  background: -webkit-linear-gradient(0deg, #9c7051, #8d7274);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background: -moz-linear-gradient(transparent, transparent);
  background: -o-linear-gradient(transparent, transparent);
  -moz-text-fill-color: transparent;
  -o-text-fill-color: transparent;
}

.concert h2 {
  color: #62a2ad;
  text-fill-color: #62a2ad;
  background: -webkit-linear-gradient(270deg, #62a2ad, #8dbab3);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background: -moz-linear-gradient(transparent, transparent);
  background: -o-linear-gradient(transparent, transparent);
  -moz-text-fill-color: transparent;
  -o-text-fill-color: transparent;
}

.upcoming {
  color: #42717e;
}

h3,
h4,
h5,
h6,
p {
  font-family: "Open Sans", sans-serif;
  color: #000;
}

p {
  font-size: 14px;
  font-size: 0.875rem;
  color: #999;
}

.history h3 {
  text-transform: uppercase;
}

h4 {
  font-size: 23px;
  font-size: 1.4375rem;
}

h6 {
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: bold;
}

.btn {
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: bold;
  font-family: "Open Sans", sans-serif;
}

.new__text {
  padding: 0.3125rem;
}

.slider__text h5 {
  font-size: 18px;
  font-size: 1.125rem;
  color: #fff;
  font-family: "Dosis", sans-serif;
  text-transform: uppercase;
}

.stats-text {
  font-family: "Myriad Pro";
  font-size: 0.75rem;
}

.song-date {
  margin-bottom: 10px;
  margin-top: 0;
  color: #7b7c7c;
  font-weight: bold;
}

.song-title {
  margin: 1.25rem 0;
}

.album-title {
  color: #fff;
}

.stats-list {
  color: #999;
  margin: 0;
}

.contact__form input {
  font-size: 14px;
  font-size: 0.875rem;
  color: #000;
}

.contact__social a {
  color: #000;
}

.logo {
  display: block;
  margin: 0 auto;
  padding-top: 13%;
  position: relative;
}

h1 img {
  height: auto;
  max-width: 100%;
}

.social-icon {
  padding-bottom: 3.75rem;
}

.stats {
  padding-top: 1.875rem;
}

.social-icon:last-child {
  padding-bottom: 0;
}

.social-icon-link {
  padding: 5px;
}

.slider__text {
  text-align: center;
}

.slider__text h5,
.slider__text p {
  padding-bottom: 0.9375rem;
}

.slider__text p {
  padding-left: 15%;
  padding-right: 15%;
}

.music-icon {
  display: block;
  margin: 0 auto;
  padding-top: 12%;
  padding-bottom: 1.25rem;
}

.slider__button {
  padding: 10% 0;
}

.right {
  clear: both;
  float: right;
}

.left {
  -moz-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  -webkit-transform: rotate(-180deg);
  transform: rotate(-180deg);
}

.history-slider-item {
  margin: 0 auto;
  text-align: center;
  outline: 0;
}

.history-slider-item h3 {
  display: inline-block;
  padding: 0 5px;
}

.history__slider__text p {
  text-align: center;
  padding: 0 43%;
}

.slick-dotted.slick-slider {
  margin-bottom: 30px;
}

.slick-slide {
  outline: 0;
}

.history__slider h3 {
  color: #c6c6c6;
}

.history__slider hr {
  border-top: 1px solid #c6c6c6;
}

.slick-center h3 {
  color: #5a5b59;
}

.slick-center hr {
  border-top: 1px solid #5a5b59;
}

.slick-dots {
  position: absolute;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%;
}
.slick-dots li {
  position: relative;
  display: inline-block;
  height: 20px;
  width: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}
.slick-dots li button {
  border: 0;
  background: transparent;
  display: block;
  height: 20px;
  width: 20px;
  outline: none;
  line-height: 0;
  font-size: 0;
  padding: 5px;
  cursor: pointer;
}
.slick-dots li button::before {
  position: absolute;
  top: 0;
  left: 0;
  content: "ï„‘";
  width: 20px;
  height: 20px;
  font-family: 'FontAwesome';
  font-size: 10px;
  line-height: 20px;
  text-align: center;
  color: #fff;
  opacity: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button::before {
  content: '\f1db';
  font-family: 'FontAwesome';
  color: #fff;
  opacity: 0.75;
}

.header {
  height: 100vh;
}
.header_background {
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  background-image: url("../img/background.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  z-index: -9;
}

.navbar {
  border-bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
}

.nav {
  font-size: 17px;
  font-size: 1.0625rem;
  font-family: "Dosis", sans-serif;
  font-weight: normal;
  text-decoration: none;
  text-transform: uppercase;
  padding: 0.3125rem;
  display: inline-block;
  float: none;
}

.main__navigation .nav-item-active-js {
  border-bottom: 2px solid #ededed;
}

.navbar-default .navbar-nav > li > a {
  color: #ededed;
  outline: 0;
}

.navigation {
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  background-color: rgba(0, 0, 0, 0.8);
}

.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:hover {
  color: #ededed;
}

.navbar-toggle {
  border-radius: 0;
}

.contact__heading {
  padding-top: 35%;
}

.contact__social {
  margin-top: 20%;
}

.contact__main {
  padding-right: 10%;
}

.contact__adress {
  padding-bottom: 10%;
}

.contact {
  background-image: url("../img/contact_background.jpg");
  padding-bottom: 20%;
  background-size: contain;
  background-position: center bottom;
}

.contact__social {
  border-left: 1px solid #000;
}

@media screen and (max-width: 767px) {
  .slider__navigation {
    display: none;
  }

  h2 {
    font-size: 2.5rem;
  }

  .discography__buttons {
    margin-left: auto;
    margin-right: auto;
  }

  .slider__text p {
    padding-left: 5%;
    padding-right: 5%;
  }

  .history__slider__text p {
    padding: 0 37%;
    padding-bottom: 40%;
  }

  .contact__heading {
    padding-top: 10%;
    text-align: center;
  }
}
.logo {
  padding-top: 20vh;
  width: 30vw;
}

.new-img {
  padding: 0.625rem;
}

@media screen and (max-width: 480px) {
  .history__slider__text p {
    padding: 0 30%;
    padding-bottom: 85%;
  }

  h2 {
    font-size: 1.875rem;
  }
}
@media screen and (max-width: 380px) {
  .logo {
    width: 70%;
    padding-top: 40%;
  }
}
@media screen and (min-width: 460px) and (max-width: 767px) {
  .new__list li {
    width: 66.66666667%;
    display: block;
    margin-left: 16.66666667%;
    margin-right: auto;
  }
}
@media (max-width: 1020px) {
  .navbar-header {
    float: none;
  }

  .navbar-left,
  .navbar-right {
    float: none !important;
  }

  .navbar-toggle {
    display: block;
  }

  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
  }

  .navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
  }

  .navbar-collapse.collapse {
    display: none !important;
  }

  .navbar-nav {
    float: none !important;
    margin-top: 7.5px;
  }

  .navbar-nav > li {
    float: none;
  }

  .navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .collapse.in {
    display: block !important;
  }
}
