//Font Colors
$gray: #999;
$black: #000;
$opacity: rgba(0, 0, 0, .7);
$white: #fff;
$lightgray: #f5f6f6;
$coolgray: #7b7c7c;

//Background Colors


$primary-font-family: 'Open Sans', sans-serif;
$dosis-font-family: 'Dosis', sans-serif;
$stats-font-family: 'Myriad Pro';


//placeholder
%background {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
  width: 100%;
}
