// Colors
$gray: #999;
$black: #000;
$transparent: rgba(0, 0, 0, 0.3);
$transparentNav: rgba(0, 0, 0, 0.8);
$white: #fff;
$lightgray: #f5f6f6;
$coolgray: #7b7c7c;
$dategray: #636364;
$darkGray: #5a5b59;
$slider-not: #c6c6c6;
$navGray: #ededed;


$primary-font-family: 'Open Sans', sans-serif;
$dosis-font-family: 'Dosis', sans-serif;
$stats-font-family: 'Myriad Pro';

$mobile: 480px;
$tablet: 768px;
$desktop: 992px;
$lgDesktop: 1300px;
