//hr
%hr {
  margin: 0;
}

.concert hr,
.latter hr {
  @extend %hr;
  width: 60%;
}

.new hr {
  @extend %hr;
  width: 90%;
}

.upcoming hr {
  @extend %hr;
  width: 23%;
  margin-bottom: 10px;
}

.discography hr {
  margin: 0;
}

.history__slider hr {
  display: inline-block;
  margin-bottom: 10px;
  width: 15%;
}
//latter
.latter__indian-album {
  background-image: url('../img/indian_album.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 0;
  padding-bottom: 70%;
  width: 100%;
}

.latter__indian-album-r {
  background-image: url('../img/indian_album_r.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 0;
  padding-bottom: 70%;
  width: 100%;
}

.latter__chill-album {
  background-image: url('../img/chill_album.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
  padding-bottom: 70%;
  width: 100%;
}

.latter__item > [class*="col-"] {
  margin-bottom: -99999px;
  padding-bottom: 99999px;
}

.latter__photo {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}

.latter__text {
  padding: calculateRem(15px);
  background-color: $lightgray;
}

.latter__item {
  margin-bottom: 20px;
}

%center-column-mobile {
  @media(min-width: $mobile) and (max-width: $tablet - 1){
    width: 66.66666667%;
    display: block;
    margin-left: 16.66666667%;
    margin-right: auto;
  }
}

.latter__compositions {
  @extend %center-column-mobile;
  padding-bottom: 5%;
}

//new
.new {
  display: block;
  margin: 0 auto;
}

.new__list {
  margin-top: 5%;
}

.new__list li {
  @extend %center-column-mobile;
  margin-bottom: calculateRem(30px);
}

.new-img {
  padding: calculateRem(20px);

  .album-title {
    padding-bottom: calculateRem(20px);
  }

  h4 {
    padding-bottom: calculateRem(20px);
  }
}

%new {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right bottom;
  width: 100%;
  height: 0;
  max-width: 100%;
  min-height: 250px;
  margin: 0 auto;
  padding-bottom: 90%;

  @media(min-width: $desktop){
    min-height: 320px;
  }
}

.new_01 {
  @extend %new;
  background-image: url('../img/new_01.jpg');
}

.new_02 {
  @extend %new;
  background-image: url('../img/new_02.jpg');
}

.new_03 {
  @extend %new;
  background-image: url('../img/new_03.jpg');
}

.new_04 {
  @extend %new;
  background-image: url('../img/new_04.jpg');
}

.new_05 {
  @extend %new;
  background-image: url('../img/new_05.jpg');
}

.new_06 {
  @extend %new;
  background-image: url('../img/new_06.jpg');
}

%line {
  background-color: $black;
  display: block;
  margin-left: calculateRem(35px);
  width: 1px;
}
//upcoming
.vertical-line-short {
  @extend %line;
  // height: calculateRem(50px);
  height: 0;
}

.vertical-line-long {
  @extend %line;
  // height: calculateRem(165px);
  height: 0;
}

%line-container {
  margin-bottom: 10px;
  display: block;
}

.short-line {
  @extend %line-container;
  height: 50px;
}

.long-line {
  @extend %line-container;
  height: 165px;
}
