//hr
%hr {
  margin: 0;
  text-align: left;
}

.concert hr,
.latter hr {
  @extend %hr;
  width: 60%;
}

.new hr {
  @extend %hr;
  width: 90%;
}

.upcoming hr {
  @extend %hr;
  width: 23%;
  margin-bottom: 10px;
}

.discography hr {
  @extend %hr;
}

.history__slider hr {
  display: inline-block;
  margin-bottom: 10px;
  width: 15%;
}
//latter
.latter {
  &__indian-album {
    background-image: url('../img/indian_album.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 0;
    padding-bottom: 70%;
    width: 100%;
  }

  &__indian-album-r {
    background-image: url('../img/indian_album_r.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 0;
    padding-bottom: 70%;
    width: 100%;
  }

  &__chill-album {
    background-image: url('../img/chill_album.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    padding-bottom: 70%;
    width: 100%;
  }

  &__item > [class*="col-"] {
    margin-bottom: -99999px;
    padding-bottom: 99999px;
  }

  &__photo {
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
  }

  &__text {
    padding: calculateRem(15px);
    background-color: $lightgray;
  }

  &__item {
    margin-bottom: 20px;
  }

  &__compositions {
    @extend %center-column-mobile;
    padding-bottom: 5%;
  }
}


%center-column-mobile {
  @media(min-width: $mobile) and (max-width: $tablet - 1){
    width: 66.66666667%;
    display: block;
    margin-left: 16.66666667%;
    margin-right: auto;
  }
}

//new
.new {
  display: block;
  margin: 0 auto;

  &__list li {
    @extend %center-column-mobile;
    margin-bottom: calculateRem(30px);
  }

  .new-img {
    padding: calculateRem(20px);

    .album-title {
      padding-bottom: calculateRem(20px);
    }

    h4 {
      padding-bottom: calculateRem(20px);
    }
  }

  .new_01 {
    @extend %new;
    background-image: url('../img/new_01.jpg');
  }

  .new_02 {
    @extend %new;
    background-image: url('../img/new_02.jpg');
  }

  .new_03 {
    @extend %new;
    background-image: url('../img/new_03.jpg');
  }

  .new_04 {
    @extend %new;
    background-image: url('../img/new_04.jpg');
  }

  .new_05 {
    @extend %new;
    background-image: url('../img/new_05.jpg');
  }

  .new_06 {
    @extend %new;
    background-image: url('../img/new_06.jpg');
  }
}


%new {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right bottom;
  width: 100%;
  height: 0;
  max-width: 100%;
  min-height: 250px;
  margin: 0 auto;
  padding-bottom: 90%;

  @media(min-width: $desktop){
    min-height: 320px;
  }
}

%line {
  background-color: $black;
  display: block;
  margin-left: calculateRem(35px);
  width: 1px;
}
//upcoming
.vertical-line-short {
  @extend %line;
  // height: calculateRem(50px);
  height: 0;
}

.vertical-line-long {
  @extend %line;
  // height: calculateRem(165px);
  height: 0;
}

%line-container {
  margin-bottom: 10px;
  display: block;
}

.short-line {
  @extend %line-container;
  height: 50px;
}

.long-line {
  @extend %line-container;
  height: 165px;
}

.photo-album {
  position: relative;
}

.player {
  position: absolute;
  bottom: 5px;
  color: $white;
  width: 100%;

  .play-pause {
    display: inline;
    cursor: pointer;
    font-size: calculateRem(30px);
    padding-left: 10px;
    margin-top: 5px;
    @media(min-width: $desktop){
      font-size: calculateRem(25px);
    }
  }

  .timer {
    margin-top: 7px;
    white-space: nowrap;

    @media(min-width: $desktop){
      margin-top: 0;
    }

    .current-time {
      color: $white;
    }
  }
  //webkit + mozilla
  input[type=range] {
    width: 100%;
    -webkit-appearance: none;
    padding: 10px 0;
    cursor: pointer;
 }

  input[type=range]::-webkit-slider-runnable-track {
    height: calculateRem(13px);
    background: $gray;
    border: 0;
    margin-left: 15px;

    @media(min-width: $desktop){
      height: calculateRem(3px);
    }
}

  input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: 0;
    height: calculateRem(25px);
    width: calculateRem(25px);
    // padding: calculateRem(10px);
    border-radius: 50%;
    background: $white;
    margin-top: -5px;
    cursor: pointer;
    margin-left: -1px;

    @media(min-width: $desktop){
      margin-top: -5px;
      height: calculateRem(15px);
      width: calculateRem(15px);
    }
  }

  input[type=range]:focus {
    outline: none;
  }
  //IE
  input[type=range]::-ms-track {
    width: 100%;
    padding: 10px 0;
    cursor: pointer;
    height: calculateRem(13px);
    background: $gray;
    border: 0;
    margin-left: 15px;

    @media(min-width: $desktop){
      height: calculateRem(3px);
    }
  }

  input[type=range]::-ms-thumb {
    border: 0;
    height: calculateRem(25px);
    width: calculateRem(25px);
    border-radius: 50%;
    background: $white;
    margin-top: -5px;
    cursor: pointer;
    margin-left: -1px;
  }
}
