.logo {
  display: block;
  margin: 0 auto;
  padding-top: 13%;
  position: relative;
}

h1 img {
  height: auto;
  max-width: 100%;
}

.social-icon {
  padding-bottom: calculateRem(60px);
}

.stats {
  padding-top: calculateRem(35px);
}

.social-icon:last-child {
  padding-bottom: 0;
}

.social-icon-link {
  padding: 5px;
}
