.header {
  .logo {
    text-align: center;

    img {
      display: inline-block;
      text-align: center;
      margin: 0 auto;
      max-width: 100%;
      padding-top: 15%;

      @media(orientation:landscape){
        padding-top: 10%;
        width: 45vh;
      }
    }
}

  .navbar-default {
    .icon-bar {
      background-color: $white;
    }
  }
}

.contact__social {
  position: absolute;
  right: 0;
  bottom: 15%;

  .social-icon {
    padding-bottom: calculateRem(60px);
  }
}

.stats {
  padding-top: calculateRem(30px);
}

.social-icon:last-child {
  padding-bottom: 0;
}

.social-icon-link {
  padding: 5px;
}
