.discography__heading,
.concert__heading,
.latter__heading,
.history__heading {
  padding-top: 5%;
  padding-bottom: 5%;
  text-align: center;
  position: relative;
}
//discography
.discography {
  background: url('../img/discography_background.jpg') center bottom no-repeat;
  background-size: 100% auto;
  padding-bottom: 15%;
}
//concert
.concert {
  @extend %background;
  background-image: url('../img/concert_background.jpg');
  padding-bottom: 10%;

}

.concert__list {
  padding-top: 20%;
}

.concert__list__description {
  padding-bottom: calculateRem(35px);
}

.latter__stats {
  padding-top: calculateRem(15px);
  padding-bottom: calculateRem(20px);
}
//slider
.slider {
  @extend %background;
  background-image: url('../img/slider.jpg');
}

//upcoming
.upcoming {
  @extend %background;
  background-image: url('../img/upcoming_background.jpg');
  padding-top: 10%;
  padding-bottom: 20%;
}
//history
.history {
  @extend %background;
  background-image: url('../img/history_background.jpg');
  padding-bottom: 40%;
}
