%background {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
  width: 100%;
}

.discography__heading,
.concert__heading,
.latter__heading,
.history__heading {
  padding-top: calculateRem(50px);
  padding-bottom: calculateRem(50px);
  text-align: center;
  position: relative;
}

.upcoming__heading {
  padding-top: calculateRem(20px);
}

.history__heading {
  @media(max-width: $mobile - 1) {
    padding-bottom: 0;
  }
}
//discography
.discography {
  background: url('../img/discography_background.jpg') center bottom no-repeat;
  background-size: 100% auto;
  padding-bottom: 15%;
}
//concert
.concert {
  @extend %background;
  background-image: url('../img/concert_background.jpg');
  padding-bottom: 10%;

  .concert__list {
    padding-top: 0;

    @media(min-width: $desktop){
      padding-top: 10%;
    }
  }

  .concert__list__description {
    padding-bottom: calculateRem(35px);
  }
}


.latter {

  .row {
    margin-right: 0;
    margin-left: 0;
  }

  .latter__stats {
    padding: calculateRem(20px) 0;

    @media(min-width: $lgDesktop) {
      padding: calculateRem(50px) 0;
    }
  }
}

//slider
.slider {
  @extend %background;
  background-image: url('../img/slider.jpg');
}

.new {
  padding: 5% 0 3%;
}
//upcoming
.upcoming {
  @extend %background;
  background-image: url('../img/upcoming_background.jpg');
  padding-top: 3%;
  padding-bottom: 5%;
}
//history
.history {
  @extend %background;
  background-image: url('../img/history_background.jpg');
  padding-bottom: 100%;

  @media(min-width: $mobile){
    padding-bottom: 70%;
  }

  @media(min-width: $tablet){
    padding-bottom: 60%;
  }

  @media(min-width: $desktop){
    padding-bottom: 50%;
  }

  @media(min-width: $lgDesktop){
    padding-bottom: 40%;
  }
}
