.slider__text{
	text-align: center;
	// margin-top: -10%;
	padding: 10% 0;
	// margin:0 10%;
}

.history-slider-item{
	margin:0 auto;
	text-align: center;
	outline: 0;
}
.history-slider-item h3{
	display: inline-block;
	padding: 0 5px;
}
.history__slider__text p{
	text-align: center;
	padding: 0 43%;
}


$slick-dot-character: "\f111" !default;
$slick-dot-size: 10px !default;
$slick-opacity-default: 0.75 !default;
$slick-opacity-on-hover: 1 !default;
$slick-opacity-not-active: 1 !default;

// Dots

.slick-dotted.slick-slider {
    margin-bottom: 30px;
}
.slick-dots {
    position: absolute;
    // bottom: -25px;
    list-style: none;
    display: block;
    text-align: center;
    padding: 0;
    margin: 0;
    width: 100%;
    li {
        position: relative;
        display: inline-block;
        height: 20px;
        width: 20px;
        margin: 0 5px;
        padding: 0;
        cursor: pointer;
        button {
            border: 0;
            background: transparent;
            display: block;
            height: 20px;
            width: 20px;
            outline: none;
            line-height: 0px;
            font-size: 0px;
            // color: transparent;
            padding: 5px;
            cursor: pointer;

            &:before {
                position: absolute;
                top: 0;
                left: 0;
                content: $slick-dot-character;
                width: 20px;
                height: 20px;
                font-family: "FontAwesome";
                font-size: $slick-dot-size;
                line-height: 20px;
                text-align: center;
                color: #fff;
                opacity: $slick-opacity-not-active;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
            }
        }
        &.slick-active button:before {
          content: "\f1db";
          font-family: "FontAwesome";
            color: #fff;
            opacity: $slick-opacity-default;
        }
    }
}
