
.slider__text {
  text-align: center;
}

.slider__text h5,
.slider__text p {
  padding-bottom: calculateRem(15px);
}

.slider__text p {
  padding-left: 15%;
  padding-right: 15%;
}

.music-icon {
  display: block;
  margin: 0 auto;
  padding-top: 12%;
  padding-bottom: calculateRem(20px);
}

.slider__button {
  padding: 10% 0;
}

.right {
  clear: both;
  float: right;
}

.left {
  @include transform(rotate(-180deg));
}

.history-slider-item {
  margin: 0 auto;
  text-align: center;
  outline: 0;
}

.history-slider-item h3 {
  display: inline-block;
  padding: 0 5px;
}

.history__slider__text p {
  text-align: center;
  padding: 0 43%;
}

$slick-dot-character: '\f111' !default;
$slick-dot-size: 10px !default;
$slick-opacity-default: 0.75 !default;
$slick-opacity-on-hover: 1 !default;
$slick-opacity-not-active: 1 !default;
// Dots
.slick-dotted.slick-slider {
  margin-bottom: 30px;
}

.slick-slide {
  outline: 0;
}

.history__slider h3 {
  color: $slider-not;
}

.history__slider hr {
  border-top: 1px solid $slider-not;
}

.slick-center h3 {
  color: $darkGray;
}

.slick-center hr {
  border-top: 1px solid $darkGray;
}

.slick-dots {
  position: absolute;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%;

  li {
    position: relative;
    display: inline-block;
    height: 20px;
    width: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer;

    button {
      border: 0;
      background: transparent;
      display: block;
      height: 20px;
      width: 20px;
      outline: none;
      line-height: 0;
      font-size: 0;
			// color: transparent;
      padding: 5px;
      cursor: pointer;

      &::before {
        position: absolute;
        top: 0;
        left: 0;
        content: $slick-dot-character;
        width: 20px;
        height: 20px;
        font-family: 'FontAwesome';
        font-size: $slick-dot-size;
        line-height: 20px;
        text-align: center;
        color: $white;
        opacity: $slick-opacity-not-active;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
			}
		}

    &.slick-active button::before {
      content: '\f1db';
      font-family: 'FontAwesome';
      color: $white;
      opacity: $slick-opacity-default;
		}
	}
}
