@import url(https://fonts.googleapis.com/css?family=Open+Sans:600,300,400);
@import url(https://fonts.googleapis.com/css?family=Dosis);

//general typography
h2,
h6,
.main-navigation {
  text-transform: uppercase;
}

h2 {
  @include font-size(50px);
  display: inline-block;
  position: relative;
  font-family: $dosis-font-family;
  margin-bottom: calculateRem(55px);
  padding: 0 15px;
  white-space: nowrap;
  color: $darkGray;
}

h2::before {
  content: '';
  position: absolute;
  width: 100%;
  top: 50%;
  left: 0;
  right: 0;
  height: 1px;
  background: $darkGray;
}

.discography h2 {
  color: #9c7051;
  text-fill-color: #9c7051;
  background: -webkit-linear-gradient(0deg, #9c7051, #8d7274);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background: -moz-linear-gradient(transparent, transparent);
  background: -o-linear-gradient(transparent, transparent);
  -moz-text-fill-color: transparent;
  -o-text-fill-color: transparent;
}

.concert h2 {
  color: #62a2ad;
  text-fill-color: #62a2ad;
  background: -webkit-linear-gradient(270deg, #62a2ad, #8dbab3);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background: -moz-linear-gradient(transparent, transparent);
  background: -o-linear-gradient(transparent, transparent);
  -moz-text-fill-color: transparent;
  -o-text-fill-color: transparent;
}

.upcoming {
  color: #42717e;
}

h3,
h4,
h5,
h6,
p {
  font-family: $primary-font-family;
  color: $black;
}

p {
  @include font-size(14px);
  color: $gray;
}

.history h3 {
  text-transform: uppercase;
}

h4 {
  @include font-size(23px);
}

h6 {
  @include font-size(14px);
  font-weight: bold;
}

// button
.btn {
  @include font-size(14px);
  font-weight: bold;
  font-family: $primary-font-family;
}
//new typography
.new__text {
  padding: calculateRem(5px);
}
//slider
.slider__text h5 {
  @include font-size(18px);
  color: $white;
  font-family: $dosis-font-family;
  text-transform: uppercase;
}
//latter typography
.stats-text {
  font-family: $stats-font-family;
  font-size: calculateRem(12px);
}

.song-date {
  margin-bottom: 10px;
  margin-top: 0;
  color: $coolgray;
  font-weight: bold;
}

.song-title {
  margin: calculateRem(20px) 0;
}

.album-title {
  color: $white;
}

.stats-list {
  color: $gray;
  margin: 0;
}
//navigation typography
.main-navigation__item a {
  @include font-size(17px);
  color: $gray;
  font-family: $dosis-font-family;
  padding: 0.125rem;
}
//form typography
.contact__form input {
  @include font-size(14px);
  color: $black;
}

.contact__social a {
  color: $black;
}
