.contact__heading {
  padding-top: calculateRem(50px);
}

.contact__main {
  padding-right: 10%;
}

.contact__adress {
  padding-bottom: 10%;
}
//contact
.contact {
  @extend %background;
  background-image: url('../img/contact_background.jpg');
  padding-bottom: 20%;
  background-size: contain;
  background-position: center bottom;
}
//contact
.contact__social {
  border-left: 1px solid $black;
}
