.main-navigation {
  visibility: hidden;
  position: fixed;
  top: 0;
  background-color: $opacity;
  float: none;
  z-index: 999;

  &__list {
    margin: 0;
  }

  &__item {
    height: calculateRem(60px);
    padding: 1rem;

  }
}
