.navbar {
  border-bottom: 0;
  background-color: $transparent;

}

.nav {
  @include font-size(17px);
  font-family: $dosis-font-family;
  font-weight: normal;
  text-decoration: none;
  text-transform: uppercase;
  padding: calculateRem(5px);
  display: inline-block;
  float: none;
}

.main__navigation {
  .nav-item-active-js {
    border-bottom: 2px solid $navGray;
  }
}

.navbar-default .navbar-nav > li > a {
  color: $navGray;
}

.navigation {
  @include transition(all 0.5s ease-in-out);
  background-color: $transparentNav;
}

.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:hover {
  color: $navGray;
}

.navbar-toggle {
  border-radius: 0;
}
